#report-red, #create-intervention{
    height: 500px;
    width: 60%;
    margin: .2em auto;
    background-color: white;
}

#form-wrap{
    min-height: 80%;
    width: 50%;
    margin: 2em auto;
    border-radius: 3px;
    border: 1px solid #FF8585;
    
}

#user{
    margin-left: 85%;
    vertical-align: top;
}

#add-event-btn{
    width: 50%;
    margin: 10px 20%;
}

.element, .button{
    margin-left: 10%;
}

#desc-red{
    width: 80%;
}

@media screen and (max-width: 650px){
    .button{
        width: 100%;
        display: block;
        margin: 5px 2%;
    }

    nav{
        width: 95%;
    }

    #create-intervention{
        width: 95%;
    }

    #nav-items{
        display: none;
    }

    #form-wrap{
        padding: 0px 3%;
        width: 90%;
    }

    #desc-red{
        width: 90%;
    }

    .element{
        margin-left: 2%;
    }

    #user{
        margin-left: 5px;
    }

}