#body-content{
    width: 60%;
    margin: 5px auto;
    background-color: white;
    padding: 5px;
}

nav{
    width: 80%;
}

#next-steps{
    height: 100px;
    width: 60%;
    margin: 5px auto;
    background-color: crimson;
}