<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/index.css">
    <link href="css/signInStyles.css" rel="stylesheet">
    <link href="css/createRecord.css" rel="stylesheet">
    <link href="css/signUpStyles.css" rel="stylesheet">
    <link rel="stylesheet" href="css/viewRecords.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to iReporter</title>
</head>
<body>
    <nav>
        <strong id="title"> <a href="index.html" id="logo">iReporter</a></strong>
        
        <ul id = "nav-items">
            <li class="nav-item"><a href="about.html" class="nav-link-item">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link-item">Contact Us</a></li>
            <li class="nav-item"><a href="#" class="nav-link-item">Events</a></li>
        </ul>

        <a href="signIn.html" class="login">Sign in</a>
        <a href="signUp.html" class="login">Create Account</a>
        <a href="admin.html" id="admin">Admin</a>

    </nav>

        <div id="welcome">
            <p id="welcome-p1">
                Don't want your identity broadcast? Well, we got you covered too.
                You can instantly make an anonymous post and we'll be there to verify and broadcast.
            </p>
                So, got a smartphone? Whip it out and let's fight corruption together.
                Let's build the Africa of our dreams. One post at a time!
        </div>

    <div id="next-steps">
        <a href="admin.html">This is a stud link to admin pages</a>  <br>
        <a href="viewRecords.html">This is a stud link to user profile</a>
        
    </div>
    <script src="js/ireport.js"></script>
</body>
</html>