<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/signInStyles.css" rel="stylesheet">
    <link href="css/createRecord.css" rel="stylesheet">
    <link href="css/signUpStyles.css" rel="stylesheet">
    <link rel="stylesheet" href="css/viewRecords.css">
    <link rel="stylesheet" href="css/index.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>iReporter | Sign in</title>
</head>
<body>
    <nav>
        <strong id="title"> <a href="index.html" id="logo">iReporter</a></strong>
        <ul id = "nav-items">
            <li class="nav-item"><a href="#" class="nav-link-item">About us</a></li>
            <li class="nav-item"><a href="#" class="nav-link-item">What We Do</a></li>
            <li class="nav-item"><a href="#" class="nav-link-item">Events</a></li>
        </ul>

        <a href="signUp.html" class="login">Create Account</a>

    </nav>

    <div id="sign-in-box">
        <div id="form-container">
            <h2 id="welcome">welcome to iReporter</h2>
            <h3 id="signin">Sign In</h3>

            <div id="inner-form">
                <form action="" id="sign-in-form">
                    <label for="username">Email or username</label><br>
                        <input type="text" id="username" class="text-field" placeholder="Enter email or username..."><br>
                    <label for="password">Password</label><br>
                        <input type="password" id="password" class="text-field" placeholder="Enter password...">
                        <br>
                    <button type="submit" id="submit" onclick="localSignIn()">Sign In</button>
                </form>
                <hr id="hrule">
                <h2 id="alt-login-prompt">OR</h2>
                <button id="g-login">Sign In with Google</button>
            </div>
            
        </div>

    </div>
    <footer>&copy iReporter. Join the fight today!</footer>
    <script src="js/ireport.js"></script>
</body>

</html>