body{
    background-color: #FF8686;
}

main{
    min-height: 600px;
    display: flex;
}

.i{
    text-decoration: none;
    color: white;
}

#banner{
    padding-left: 3px;
    color: white;
    font-weight: bolder;
    margin-left: 5px;
}

#side-bar{
    width: 15%;
    margin-right: 10px;
    background-color: crimson;
}

#content-pane{
    width: 65%;
    float: left;
    flex-grow: 1;
    background-color: white;
}

#menu{
    padding-left: 0;
}

.menu-item{
    width: 95%;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-left: 3px;
    background-color: #FF8686;
}

footer{
    text-align: center;
    width: 80%;
    margin: 2px auto;
}