body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#form-area{
    width: 60%;
    min-height: 500px;
    margin: 3px auto;
    background-color: white;
    padding: .3em;
    border-radius: 5px;
}

#inner-form1{
    width: 60%;
    padding-left: 5%;
    padding-top: 1%;
    margin: 5px auto;
    border: solid #FF8585 1px;
    border-radius: 5px;
}

#alt-logins{
    width: 50%;
    margin: 20px auto;
}

#form-divide{
    margin: 5% auto;
}

.center{
    text-align: center;
}

#g-login{
    display: block;
    width: 60%;
    margin: 5px auto;
}

@media screen and (max-width: 650px ){
    #form-area{
        width: 95%;
        min-height: 550px;
    }
    .sign-in-btn{
        width: 60%;
        display: block;
        margin: 5px auto;
    }
    #alt-logins{
        width: 95%;
        height: 50px;
    }

    footer{
        width: 95%;
    }
}