nav{
    width: 60%;
}

#logo{
    text-decoration: none;
    color: white;
}

.login{
    text-decoration: none;
    color: white;
    margin: 0px 5px;
    vertical-align: bottom;
    margin-left: 2%;

}

#admin{
    margin-left: 10%;
    color: black;
    text-decoration: none;
    margin: 0px 5px;
    vertical-align: bottom;
}

#next-steps{
    height: 100px;
    width: 60%;
    margin: 5px auto;
    background-color: crimson;
}

#welcome{
    width: 60%;
    background-color: white;
    margin: 0px auto;
}


