#rule{
    margin: 2em auto;
}

#view-body{
    width: 60%;
    height: 500px;
    margin: 1em auto;
    background-color: white;
}

.list{
    margin: 10px 0px;
}

.list-item{
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
    width: 80%;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;
    font-style: normal;
    list-style-type: none;
    border-bottom: 1px solid red;
}

.rejected{
    text-decoration: line-through;
    opacity: .4;
    color: red;
    font-style: italic;
}

.under-inv{
    color: orangered;
    font-style: italic;
    opacity: .6;
}

.resolved{
    color: green;
    font-weight: bold;
}

@media screen and (max-width: 650px ){
    .list-item{
        width: 80%;
        margin-left: 5px;
    }

    #view-body{
        width: 95%;
        padding: 5px;
    }
}